<h3>
  <%= @user.email %>
</h3>

<% if @user.facebook_access_token %>
	<table>
		<tr>
			<td><%= image_tag @image_uri %></td>
			<td><h4><%= @name %>'s Shared Links</h4></td>
		</tr>
	<% @links.each do |link| %>
		<tr>
			<td><%= image_tag link["picture"] %></td>
			<td><%= link_to link["name"], link["link"] %></td>
			<td><%= link["description"] %></td>
		</tr>
	<% end %>
	</table>
<% end %>

<% if current_user == @user %>
	<%= link_to 'Authorize Facebook Access', "https://www.facebook.com/dialog/oauth?client_id=#{ENV['FACEBOOK_APP_ID']}&redirect_uri=http://localhost:3000/facebook_callback&scope=read_stream" %>
	|
	<%= link_to 'Edit', edit_user_path(@user) %>
	|
<% end %>
<%= link_to 'Back', users_path %>