<!DOCTYPE html>
<html>
<head>
  <title>FbAccess</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:user_id].present? %>
		<p>Signed in as <%= User.find(session[:user_id]).email %>. <%= link_to 'Sign out', '../sessions/destroy' %></p>
	<% else %>
		<%= form_tag 'sessions/create' do %>
			<p>
		    <%= label_tag :email %> <%= text_field_tag :email %>
		    <%= label_tag :password %> <%= password_field_tag :password %>
				<%= submit_tag 'Sign In' %>
			</p>
		<% end %>
		<p><%= notice %></p>
	<% end %>
<%= yield %>

</body>
</html>
